 

<p>The source material, text and images, presented on this site, is copyrighted by Fantasy Flight Games.</p>
<p>Legend of the Five Rings is a trademark of Fantasy Flight Games.</p>

<p>This website is not produced, endorsed, supported, or affiliated with Fantasy Flight Games.</p>