
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_l5r-cards.cshtml";
}

<table id="vote" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Card</th>
            <th>Rating</th>
            <th>Clan</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#vote");
        });
    </script>
}