@model L5R_DBH_MVC.ViewModels.VoteFormViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_l5r-cards.cshtml";
}

<h2>@Model.Id.Split('-')</h2>

@using (Html.BeginForm("Save", "Votes"))
{

}

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#vote");
        });
    </script>
}