#properties, #clan, #side, #type {
    position: fixed;
    height: 40%;
    width: 5%;
}

    #properties:hover, #clan:hover, #side:hover, #type:hover {
        z-index:2;
        cursor:default;
    }

#properties {
    left: 0%;
}

#clan{
    right: -1%;
    top: 30%;
}

#side {
    right: 2%;
    top: 75%;
}

#clan span, #side span {
    color: black;
    font-weight: bold;
}

#type{
    right:-1%;
    top: 75%;
}

#type i{
    color:black;
}

    #clan button, #type button, #side button {
        width: 50%;
        background-color: #303030;
        border: 2px solid #222222;
        margin: .2rem;
    }

    #clan.selected,#type.selected,#side.selected{
        background-color:white;
    }

    #clan button:hover, #type button:hover, #side button:hover{
        transform:scale(1.1);
        background-color:white;
    }
