#properties, #clans, #side, #type {
    position: fixed;
    height: 40%;
    background-color:white;
    width: 5%;
}

    #properties:hover, #clans:hover, #side:hover, #type:hover {
        z-index:2;
        cursor:default;
    }

#properties {
    left: 0%;
}

#clans{
    left: 5%;
}

#side {
    right: 2%;
    top: 70%;
}

#side span{
    color:black;
    font-weight:bold;
}

#type{
    right:-1%;
    top: 70%;
}

#type i{
    color:black;
}

    #type button, #side button {
        width: 50%;
        background-color: #303030;
        border: 2px solid #222222;
        margin: .2rem;
    }

    #type button:hover, #side button:hover{
        transform:scale(1.1);
        background-color:white;
    }
