body {
}

#deckname-location input{
    font-size:large;
}

#submit-button {
    color: #8c2222;
    border-color: #8c2222;
    background-color: var(--background-colour);
}

.grid-row{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#primary-text, #splash-text, #role-element-text, #vs-text {
    border: none;
    box-shadow: none;
}

.col-6.splash-col{
    display:inline-block;
}