:root {
    /*? L5R Official Colours for the Clans ?*/
    --crab-colour: #83929b;
    --crane-colour: #9cb7bb;
    --dragon-colour: #5d8a71;
    --lion-colour: #d8bb6c;
    --phoenix-colour: #ca8b58;
    --scorpion-colour: #964538;
    --unicorn-colour: #795f8d;
}
