
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card-container.container{
    padding:0;
}

.card{
    padding: 0;
    margin: .5rem;
}

.card img{
    height:100%;
    width: 100%;
}

.col-lg-3.card {
    width: 23.5%;
}

col-lg-3.card, col-md-4.card, col-sm-6.card {
    padding-right: 2px;
    padding-left: 2px;
}