@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_l5r_content.cshtml";
}

<div id="deckbuilder-jumbotron" class="jumbotron shadow p-3 mb-3 rounded">
    <h2 class="display-h">About</h2>
    <h3 class="display-h">This page provides you with more information about the game</h3>
</div>
