@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_L5R_SidePages.cshtml";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>General Enquiries:</strong>   <a href="mailto:jphcode@gmail.com">jphcode@gmail.com</a><br />
</address>