@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Legend of the Five Rings : DeckBuilder Help</h1>
    <p class="lead">This website generates deckbuilding suggestions from user inputted ratings.</p>
</div>

<div class="row">
    <div class="col-md-4 home-column">
        <h2>Getting started</h2>
        <p>
            Visit the About page for more details.
        </p>
        <p><a class="btn btn-default btn-site" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4 home-column">
        <h2>Discord Server</h2>
        <p>You can join the discord server to be apart what features to add next!</p>
        <img class="home-images discord-link" src="https://discordapp.com/assets/192cb9459cbc0f9e73e2591b700f1857.svg"/>
    </div>
</div>