@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Legend of the Five Rings : DeckBuilder Help</h1>
    <p class="lead">This website generates deckbuilding suggestions from user generated content.</p>
</div>

<div class="row">
    <div class="col-md-4 home-column">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 home-column">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 home-column">
        <h2>Discord Server</h2>
        <p>You can join the discord server to be apart what features to add next!</p>
        <img class="home-images discord-link" src="https://discordapp.com/assets/192cb9459cbc0f9e73e2591b700f1857.svg"/>
    </div>
</div>