
<div id="properties" class="card-sidebar">
    
</div>

<div id="clan" class="card-sidebar">
    <div id="neutral">
        <button class="btn sidebar-btn" category="clan" individual="neutral"><span>N</span></button>
    </div>
    <div id="crab">
        <button class="btn sidebar-btn" category="clan" individual="crab"><span>C</span></button>
    </div>
    <div id="crane">
        <button class="btn sidebar-btn" category="clan" individual="crane"><span>C</span></button>
    </div>
    <div id="dragon">
        <button class="btn sidebar-btn" category="clan" individual="dragon"><span>D</span></button>
    </div>
    <div id="lion">
        <button class="btn sidebar-btn" category="clan" individual="lion"><span>L</span></button>
    </div>
    <div id="phoenix">
        <button class="btn sidebar-btn" category="clan" individual="phoenix"><span>P</span></button>
    </div>
    <div id="scorpion">
        <button class="btn sidebar-btn" category="clan" individual="scorpion"><span>S</span></button>
    </div>
    <div id="unicorn">
        <button class="btn sidebar-btn" category="clan" individual="unicorn"><span>U</span></button>
</div>
</div>

<div id="side" class="card-sidebar">
    <div id="province">
        <button class="btn sidebar-btn" category="side" individual="province"><span>P</span></button>
    </div>
    <div id="dynasty">
        <button class="btn sidebar-btn" category="side" individual="dynasty"><span>D</span></button>
    </div>
    <div id="conflict">
        <button class="btn sidebar-btn" category="side" individual="conflict"><span>C</span></button>
    </div>
    <div id="role">
        <button class="btn sidebar-btn" category="side" individual="role"><span>R</span></button>
    </div>
</div>

<div id="type" class="card-sidebar">
    <div id="holding">
        <button class="btn sidebar-btn" category="type" individual="holding"><i class="fas fa-home"></i></button>
    </div>
    <div id="character">
        <button class="btn sidebar-btn" category="type" individual="character"><i class="fas fa-user"></i></button>
    </div>
    <div id="event">
        <button class="btn sidebar-btn" category="type" individual="event"><i class="fas fa-bolt"></i></button>
    </div>
    <div id="attachment">
        <button class="btn sidebar-btn" category="type" individual="attachment"><i class="fas fa-paperclip"></i></button>
    </div>
</div>