

<div id="vote-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div id="vote-modal-content" class="modal-content">
            <div id="vote-modal-header" class="modal-header">
                <h5 class="modal-title">Add Rating</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <img id="vote-modal-image" src="" alt="">

                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="add-rating-title">Range of (1.0 - 10.0)</span>
                    </div>
                    <input id="add-rating-input" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div id="vote-modal-footer" class="modal-footer">
                <button type="button" class="btn btn-outline-dark vote-button" onclick="">Vote</button>
                <button type="button" class="btn btn-outline-dark close-button" data-dismiss="modal" onclick="">Close</button>
            </div>
        </div>
    </div>
</div>
