
<div id="properties" class="card-sidebar">
    <div id="military">
        <button class="btn sidebar-btn" category="property" individual="military"><i class="fas fa-dice-one"></i></button>
    </div>
    <div id="political">
        <button class="btn sidebar-btn" category="property" individual="political"><i class="fas fa-dice-two"></i></button>
    </div>
    <div id="glory">
        <button class="btn sidebar-btn" category="property" individual="glory"><i class="fas fa-dice-three"></i></button>
    </div>
</div>

<div id="clan" class="card-sidebar">
    <div id="neutral-nav">
        <button class="btn sidebar-btn" category="clan" individual="neutral"><span>N</span></button>
    </div>
    <div id="crab-nav">
        <button class="btn sidebar-btn" category="clan" individual="crab"><span>C</span></button>
    </div>
    <div id="crane-nav">
        <button class="btn sidebar-btn" category="clan" individual="crane"><span>C</span></button>
    </div>
    <div id="dragon-nav">
        <button class="btn sidebar-btn" category="clan" individual="dragon"><span>D</span></button>
    </div>
    <div id="lion-nav">
        <button class="btn sidebar-btn" category="clan" individual="lion"><span>L</span></button>
    </div>
    <div id="phoenix-nav">
        <button class="btn sidebar-btn" category="clan" individual="phoenix"><span>P</span></button>
    </div>
    <div id="scorpion-nav">
        <button class="btn sidebar-btn" category="clan" individual="scorpion"><span>S</span></button>
    </div>
    <div id="unicorn-nav">
        <button class="btn sidebar-btn" category="clan" individual="unicorn"><span>U</span></button>
</div>
</div>

<div id="side" class="card-sidebar">
    <div id="province">
        <button class="btn sidebar-btn" category="side" individual="province"><span>P</span></button>
    </div>
    <div id="dynasty">
        <button class="btn sidebar-btn" category="side" individual="dynasty"><span>D</span></button>
    </div>
    <div id="conflict">
        <button class="btn sidebar-btn" category="side" individual="conflict"><span>C</span></button>
    </div>
    <div id="role">
        <button class="btn sidebar-btn" category="side" individual="role"><span>R</span></button>
    </div>
</div>

<div id="type" class="card-sidebar">
    <div id="holding">
        <button class="btn sidebar-btn" category="type" individual="holding"><i class="fas fa-home"></i></button>
    </div>
    <div id="character">
        <button class="btn sidebar-btn" category="type" individual="character"><i class="fas fa-user"></i></button>
    </div>
    <div id="event">
        <button class="btn sidebar-btn" category="type" individual="event"><i class="fas fa-bolt"></i></button>
    </div>
    <div id="attachment">
        <button class="btn sidebar-btn" category="type" individual="attachment"><i class="fas fa-paperclip"></i></button>
    </div>
</div>