<div id="cards">

    <div class="card text-center col-lg-3 col-md-4 col-sm-6 ">
        <div class="card-header text-muted">
            Featured
        </div>
        <img class="card-img" src="https://gamepedia.cursecdn.com/l5r_gamepedia_en/6/6c/Shrewd_Yasuki.png?version=52fa901f0d3c41c924603c6d4161dfce" alt="Card image cap">
    </div>
    <div class="card text-center col-lg-3 col-md-4 col-sm-6 ">
        <div class="card-header text-muted">
            Featured
        </div>
        <img class="card-img" src="https://gamepedia.cursecdn.com/l5r_gamepedia_en/6/6c/Shrewd_Yasuki.png?version=52fa901f0d3c41c924603c6d4161dfce" alt="Card image cap">
    </div>
    <div class="card text-center col-lg-3 col-md-4 col-sm-6 ">
        <div class="card-header text-muted">
            Featured
        </div>
        <img class="card-img" src="https://gamepedia.cursecdn.com/l5r_gamepedia_en/6/6c/Shrewd_Yasuki.png?version=52fa901f0d3c41c924603c6d4161dfce" alt="Card image cap">
    </div>
    <div class="card text-center col-lg-3 col-md-4 col-sm-6 ">
        <div class="card-header text-muted">
            Featured
        </div>
        <img class="card-img" src="https://gamepedia.cursecdn.com/l5r_gamepedia_en/6/6c/Shrewd_Yasuki.png?version=52fa901f0d3c41c924603c6d4161dfce" alt="Card image cap">
    </div>

</div>




