
<div id="properties" class="card-sidebar">
    
</div>

<div id="clans" class="card-sidebar">
    
</div>

<div id="side" class="card-sidebar">
    <div id="province">
        <button class="btn"><span>P</span></button>
    </div>
    <div id="dynasty">
        <button class="btn"><span>D</span></button>
    </div>
    <div id="conflict">
        <button class="btn"><span>C</span></button>
    </div>
    <div id="role">
        <button class="btn"><span>R</span></button>
    </div>
</div>

<div id="type" class="card-sidebar">
    <div id="holding">
        <button class="btn"><i class="fas fa-home"></i></button>
    </div>
    <div id="character">
        <button class="btn"><i class="fas fa-user"></i></button>
    </div>
    <div id="event">
        <button class="btn"><i class="fas fa-bolt"></i></button>
    </div>
    <div id="attachment">
        <button class="btn"><i class="fas fa-paperclip"></i></button>
    </div>
</div>