@model L5R_DBH_MVC.ViewModels.CardAndRatingViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_l5r-cards.cshtml";
}

<div id="cards-jumbotron" class="jumbotron shadow p-3 mb-5 rounded">
    <h2 class="display-h">Cards</h2>
    <h3 class="display-h">These votes will help generate decks to specialise against matchups</h3>
</div>

@Html.Partial("_CardsSearchBox")

@Html.Partial("_CardsNavBar")

@Html.Partial("_CardsRender")


@section scripts
{
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-auto-replace-svg="nest"></script>
    <script>
        $(document).ready(function () {

            //var exampleText = "test";

            $.ajax({
                'async': false,
                url: "api/cards",
                dataType: "json",
                success: function (data) {
                    $(".card-container").addClass("success");
                    test = data;
                    for (let i = 0; i < data.length; i++) {
                        var $cardObject = $("<div class='card col-lg-3 col-md-4 col-sm-6'></div>"),
                            cardHeader = $("<div class='card-header text-muted'>" + data[i].name + "</div > "),
                            cardImage = $("<img class='card-image'/>"),
                            overallRating = $("<div class='card-footer text-muted'>" + "Rating: " +  data[i].overallRating + "</div>");
                        //debugger;
                        $(cardImage).attr({ src: data[i].imageLocation, alt: data[i].id });
                        $cardObject.attr({ clan: data[i].clan, side: data[i].side, type: data[i].cardType })
                        $cardObject.append(cardHeader, cardImage, overallRating);
                        $(".card-container").append($cardObject);
                    }
                },
                error: function (error) {
                    $(".card-container").addClass("fail");
                    console.log(error);
                }
            })

            //console.log(test);

            $(".card").on("click", function (element) {
                //open a partial to fill in the rating form
                console.log(element.currentTarget.textContent);
            })

            $(".sidebar-btn").on("click", function (elememt) {


                $(elememt).addClass("selected");
                const category = elememt.currentTarget.attributes["category"].value;
                const individual = elememt.currentTarget.attributes["individual"].value;
                const cards = document.querySelectorAll(".card");
                debugger;
                for (let i = 0; i < cards.length; i++) {
                    if (cards[i].attributes[category].value == individual)
                        cards[i].hidden = false;
                    else {
                        cards[i].hidden = true;
                    }
                }
            })

        })
    </script>


}