@model L5R_DBH_MVC.ViewModels.CardAndRatingViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_L5R_Cards.cshtml";
}

<div id="cards-jumbotron" class="jumbotron shadow p-3 mb-5 rounded">
    <h2 class="display-h">Cards</h2>
    <h3 class="display-h">These votes will help generate decks to specialise against matchups</h3>
</div>

@Html.Partial("_CardsSearchBox")

@Html.Partial("_CardsNavBar")

@Html.Partial("_CardsRender")

@Html.Partial("_CardsRatingModal")


@section scripts
{
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script>
        $(document).ready(function () {

            //$("#vote-modal").modal();

            //var exampleText = "test";
            toastr.info("Loading cards...");

            $.ajax({
                'async': false,
                url: "api/cards",
                dataType: "json",
                success: function (data) {

                    toastr.success("Loaded cards successfully");
                    GenerateCards(data);
                },
                error: function (error) {
                    //$(".card-container").addClass("fail");
                    toastr.error("Cards failed to load");
                    console.log(error);
                }
            })

            $(".card").on("click", function (element) {
                
                LoadVoteModal(element);
            })

            $("#card-search").on("input", function () {

                SearchForCards();
            })

            $(".sidebar-btn").on("click", function (element) {

                FilterWithSideBar(element);
            })

        })
    </script>


}