@model L5R_DBH_MVC.ViewModels.CardAndRatingViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_l5r_content.cshtml";
}

<div id="cards-jumbotron" class="jumbotron shadow p-3 mb-5 rounded">
    <h2 class="display-h">Cards</h2>
    <h3 class="display-h">These votes will help generate decks to specialise against matchups</h3>
</div>









<div id="footer-jumbotron" class="jumbotron p-3 mb-5 rounded">
    <img class="footer-icon" src="https://gamepedia.cursecdn.com/l5r_gamepedia_en/8/86/Military.png?version=4896b58c6a3eef9e62beab57c61e043f" />
    <img class="footer-icon" src="https://gamepedia.cursecdn.com/l5r_gamepedia_en/e/e3/Political.png?version=f5ee603bd279ff7642ef47922a1cb1b9" />
</div>