
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_l5r_content.cshtml";
}

<div id="deck-jumbotron" class="jumbotron shadow p-3 mb-3 rounded">
    <h2 class="display-h">Decks</h2>
    <h3 class="display-h">These contain the decks that are created through deckbuilding</h3>
</div>