
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_L5R_Decks.cshtml";
}

<div id="deck-jumbotron" class="jumbotron shadow p-3 mb-3 rounded">
    <h2 class="display-h">Decks</h2>
    <h3 class="display-h">These contain the decks that are created through deckbuilding</h3>
</div>

<div id="deck-render-location">

</div>

@section scripts
{
<script>

    $(document).ready(function () {

        LoadUserDecks();
    }

</script>

}