#properties, #clan, #side, #type {
    position: fixed;
    height: 40%;
    width: 5%;
}

    #properties:hover, #clan:hover, #side:hover, #type:hover {
        z-index:2;
        cursor:default;
    }

#properties {
    right: 2%;
    top: 30%;
}

#clan{
    right: -1%;
    top: 30%;
}

#side {
    right: 2%;
    top: 75%;
}

#clan span, #side span {
    color: black;
    font-weight: bold;
}

#type{
    right:-1%;
    top: 75%;
}

#type i, #properties i{
    color:black;
}

#properties.selected, #clan.selected, #type.selected, #side.selected {
    background-color: white;
}

#properties button, #clan button, #type button, #side button{
    width: 50%;
    background-color: var(--section-colour);
    border: 2px solid var(--background-colour);
    margin: .2rem;
}

    #properties button:hover, #clan button:hover, #type button:hover, #side button:hover{
        transform:scale(1.1);
        background-color:white;
    }
