

<div id="vs-clan" class="col-sm-12 col-md-6 col-lg-3">

    <ul id="vs-text">
        <h3>Versus Clans</h3>
    </ul>
    <ul id="vs-crab" class="on-grid">
        <h4><a>Crab</a></h4>
    </ul>
    <ul id="vs-crane" class="on-grid">
        <h4><a>Crane</a></h4>
    </ul>
    <ul id="vs-dragon" class="on-grid">
        <h4><a>Dragon</a></h4>
    </ul>
    <ul id="vs-lion" class="on-grid">
        <h4><a>Lion</a></h4>
    </ul>
    <ul id="vs-phoenix" class="on-grid">
        <h4><a>Phoenix</a></h4>
    </ul>
    <ul id="vs-scorpion" class="on-grid">
        <h4><a>Scorpion</a></h4>
    </ul>
    <ul id="vs-unicorn" class="on-grid">
        <h4><a>Unicorn</a></h4>
    </ul>

</div>
