

<div id="splash-clan" class="col-sm-12 col-md-6 col-lg-3">

    <ul id="splash-text">
        <h3>Secondary Clan</h3>
    </ul>
    <ul id="splash-crab">
        <div class="col-6 splash-col on-grid splash-clan">
            <h4><a>Crab</a></h4>
        </div>
        <div class="col-6 splash-col on-grid splash-support">
            <h4><a>Support of</a></h4>
        </div>
    </ul>
    <ul id="splash-crane">
        <div class="col-6 splash-col on-grid splash-clan">
            <h4><a>Crane</a></h4>
        </div>
        <div class="col-6 splash-col on-grid splash-support">
            <h4><a>Support of</a></h4>
        </div>
    </ul>
    <ul id="splash-dragon">
        <div class="col-6 splash-col on-grid splash-clan">
            <h4><a>Dragon</a></h4>
        </div>
        <div class="col-6 splash-col on-grid splash-support">
            <h4><a>Support of</a></h4>
        </div>
    </ul>
    <ul id="splash-lion">
        <div class="col-6 splash-col on-grid splash-clan">
            <h4><a>Lion</a></h4>
        </div>
        <div class="col-6 splash-col on-grid splash-support">
            <h4><a>Support of</a></h4>
        </div>
    </ul>
    <ul id="splash-phoenix">
        <div class="col-6 splash-col on-grid splash-clan">
            <h4><a>Phoenix</a></h4>
        </div>
        <div class="col-6 splash-col on-grid splash-support">
            <h4><a>Support of</a></h4>
        </div>
    </ul>
    <ul id="splash-scorpion">
        <div class="col-6 splash-col on-grid splash-clan">
            <h4><a>Scorpion</a></h4>
        </div>
        <div class="col-6 splash-col on-grid splash-support">
            <h4><a>Support of</a></h4>
        </div>
    </ul>
    <ul id="splash-unicorn">
        <div class="col-6 splash-col on-grid splash-clan">
            <h4><a>Unicorn</a></h4>
        </div>
        <div class="col-6 splash-col on-grid splash-support">
            <h4><a>Support of</a></h4>
        </div>
    </ul>

</div>
