
<div id="deckname-location" class="input-group input-group-sm">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Deckname:</span>
    </div>
    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-md">
</div>

<div class="row grid-row">

    @Html.Partial("_Deckbuilder_PrimaryClans")

    @Html.Partial("_Deckbuilder_SplashClans")

    @Html.Partial("_Deckbuilder_RoleAndElement")

    @Html.Partial("_Deckbuilder_VersusClans")


</div>