

<div id="role-element" class="col-sm-12 col-md-6 col-lg-3">

    <ul id="role-element-text">
        <h3>Role & Element</a>
    </ul>
    <ul id="keeper-button" class="on-grid"">
        <h4><a>Keeper</a></h4>
    </ul>
    <ul id="seeker-button" class="on-grid">
        <h4><a>Seeker</a></h4>
    </ul>
    <ul id="air-button" class="on-grid">
        <h4><a>Air</a></h4>
    </ul>
    <ul id="earth-button" class="on-grid">
        <h4><a>Earth</a></h4>
    </ul>
    <ul id="fire-button" class="on-grid">
        <h4><a>Fire</a></h4>
    </ul>
    <ul id="void-button" class="on-grid">
        <h4><a>Void</a></h4>
    </ul>
    <ul id="water-button" class="on-grid">
        <h4><a>Water</a></h4>
    </ul>

</div>
