

<div id="splash-clan" class="col-sm-12 col-md-6 col-lg-3">

    <ul id="splash-text">
        <h3>Secondary Clan</h3>
    </ul>
    <ul id="splash-crab" class="on-grid">
        <h4><a>Crab</a></h4>
    </ul>
    <ul id="splash-crane" class="on-grid">
        <h4><a>Crane</a></h4>
    </ul>
    <ul id="splash-dragon" class="on-grid">
        <h4><a>Dragon</a></h4>
    </ul>
    <ul id="splash-lion" class="on-grid">
        <h4><a>Lion</a></h4>
    </ul>
    <ul id="splash-phoenix" class="on-grid">
        <h4><a>Phoenix</a></h4>
    </ul>
    <ul id="splash-scorpion" class="on-grid">
        <h4><a>Scorpion</a></h4>
    </ul>
    <ul id="splash-unicorn" class="on-grid">
        <h4><a>Unicorn</a></h4>
    </ul>

</div>
