
<div class="row grid-row">

    @Html.Partial("_Deckbuilder_PrimaryClans")

    @Html.Partial("_Deckbuilder_SplashClans")

    @Html.Partial("_Deckbuilder_RoleAndElement")

    @Html.Partial("_Deckbuilder_VersusClans")

</div>