
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_L5R_Deckbuilder.cshtml";
}

<div id="deckbuilder-jumbotron" class="jumbotron shadow p-3 mb-3 rounded">
    <h2 class="display-h">Deckbuilder</h2>
    <h3 class="display-h">This is where you generate decks</h3>
</div>

<div id="deckname-location" class="input-group input-group-sm">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Deckname:</span>
    </div>
    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-md">
</div>

@Html.Partial("_DeckbuilderGrid")

<div id="submit-button-row" class="row">
    <div class="col">
        <button id="submit-button" class="btn btn-outline-danger">Submit Deck</button>
    </div>
</div>