
/* Vote modal for the cards page */

#vote-modal-header{
    background-color: var(--section-colour);
    color: var(--nav-colour);
}

.modal-title {
    font-size: 25px;
    font-weight: 500;
}

#vote-modal-image{
    border-radius: 13px;
    border: 2px solid white;
    margin-bottom: .8rem;
}

.modal-image{
    display:inline-block;
}

.vote-modal-versus-clan{
    list-style:none;
    font-size: 22px;
    margin-bottom: .5rem;
    text-align: left;
    padding: 1rem;
}

#rating-input {
    width: 100%;
}

#add-rating-title {
    margin: .8rem 30%;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}

#add-rating-input {
    margin: .8rem 30%;
}



/* ^ Vote modal for the cards page ^ */




/*  Side Clan Styles  */



#crab, #crane, #dragon, #lion, #phoenix, #scorpion, #unicorn{
    background-color: var(--background-colour);
    border: 2px solid white;
}

    #crab.selected, #crab:hover{
        background-color: var(--crab-colour);
    }

    #crane.selected, #crane:hover{
        background-color: var(--crane-colour);
    }

    #dragon.selected, #dragon:hover {
        background-color: var(--dragon-colour);
    }

    #lion.selected, #lion:hover {
        background-color: var(--lion-colour);
    }

    #phoenix.selected, #phoenix:hover {
        background-color: var(--phoenix-colour);
    }

    #scorpion.selected, #scorpion:hover {
        background-color: var(--scorpion-colour);
    }

    #unicorn.selected, #unicorn:hover {
        background-color: var(--unicorn-colour);
    }





/* ^ Side Clan Styles ^ */
