
/* Vote modal for the cards page */

#vote-modal-header{
    background-color: var(--section-colour);
    color: var(--nav-colour);
}

.modal-title {
    font-size: 25px;
    font-weight: 500;
}

#vote-modal-image{
    border-radius: 13px;
    margin-bottom: .8rem;
    margin-right: 90%;
}

#rating-input{
    width: 100%;
}

#add-rating-title {
    margin: .8rem 30%;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}

#add-rating-input {
    margin: .8rem 30%;
}



/* ^ Vote modal for the cards page ^ */