:root {
    --background-colour: #222222;
    --section-colour: #303030;
    --nav-colour: #0ce3ac;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer-text{
    text-align: center;
}

.home-column{
    /*border: 2px solid var(--section-colour);*/
}

.home-images{
    height: 80%;
    width: 80%;
}

    .home-images:hover{
        transform: scale(1.1);
        transition: ease-out 150ms;
        cursor: pointer;
    }

.btn-default.btn-site{
    background-color: var(--nav-colour);
    border-color: var(--nav-colour);
    color: var(--background-colour);
}

    .btn-default.btn-site:hover {
        color: black;
        border-color: var(--section-colour);
    }

.btn.btn-outline-dark{
    border-color: var(--background-colour);
    color: var(--background-colour);
}

    .btn.btn-outline-dark:hover{
        color: white;
        border-color: white;
        background-color: var(--section-colour);
    }